.DS_Store
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/command-line/*.json

# Midscene.js dump files
**/midscene_run/report/**
**/midscene_run/dump/
**/midscene_run/log/
playwright-report/
dist/
test-results/
.env

output/

.DS_Store

pnpm-lock.yaml

# Midscene.js dump files
**/midscene_run/midscene-report
**/midscene_run/dump-logger
